#main-container {
    padding: 1 1 0 1;
    layers: main overlay;
    layout: grid;
    grid-size: 2 2;
}

#overlay-container {
    layer: overlay;
    dock: right;
    height: 100%;
    width: 50;
    border: round yellow;
    display: none;
    padding-left: 1;
}

.panel {
    height: 100%;
    border: panel green;
    border-title-align: center;
    margin-bottom: 1;
    padding: 1 2 1 2;
}

.panel-focused {
    border: panel orange;
}

.panel-format-table {
    layout: grid;
    grid-size: 2;
    grid-rows: 1;
}

#panel-supplies {
    grid-columns: 1fr 2fr;
}

#panel-program {
    layout: grid;
    grid-size: 1;
    grid-rows: 1;
}

.table-field-name {
    height: 1;
}

.table-field-value {
    height: 1;
}

.item-label-selected {
    background: $secondary-background;
    color: $secondary;
}

.item-label-hovered {
    background: $primary-background-lighten-3;
    color: $primary;
}
